
 .hero {
    position: relative;
    left: 0px;
    right: 0px;
    top: 140px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 665px;
    max-width: 940px;

    @include breakpoint (mobile) {
       width: calc(100% - 30px);
       margin-top: 60px;
    }

    @include breakpoint (tablet) {
        width: calc(100% - 30px);
       // margin-top: 60px;
     }

    .hero-box {
        position: absolute;
        border: 3px solid #65F1DE;
        width: 100%;
        height: 530px;
        background-color: rgba(#6E2C63,0.75);
        border-radius: 6px;
       // opacity: 0;
       // animation: 0.5s fadein 0.5s forwards;

        @include breakpoint (mobile) {
            background-color: unset;
            border: unset;
        }

        @include breakpoint (tablet) {
            background-color: unset;
            border: unset;
            width: 92%;
            left: 0px;
            right: 0px;
            margin-left: auto;
            margin-right: auto;
        }
        

        ul {
            list-style-type: none;
            display: flex;
            width: 100%;
            height: 430px;
            flex-wrap: wrap;
            position: absolute;
            justify-content: center;
            align-content: space-around;
            top: 60px;

            @include breakpoint (mobile) {
                height: 620px;
                width: 100%;
            }

           
            
            li {
                box-sizing: border-box;
               opacity: 0;
               animation: 1s fadein 0.5s forwards;
                //animation: ease-in-out slidein 1.0s forwards;

                &:hover {
                   
                    .thumb {
                        border: 3px solid #65F1DE;
                        transition: ease 0.3s;
                    }
                }

                @include breakpoint (mobile) {
                    width: 50%;
                    position: relative;
                }

                @include breakpoint (tablet) {
                    width: 25%;
                    position: relative;
                }


                .thumb {
                    width: 180px;
                    height: 185px;
                    background-color: rgba( 0,0,0,0.5);
                    position: relative;
                    border-radius: 6px;
                    box-sizing: border-box;
                    margin-left: 15px;
                    margin-right: 15px;
                    pointer-events: none;

                    @include breakpoint (mobile) {
                        width: calc(100% - 6px);
                        height: 150px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 3px;
                        margin-bottom: 3px;
                     }

                     @include breakpoint (tablet) {
                        width: calc(100% - 6px);
                        height: 170px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 3px;
                        margin-bottom: 3px;
                     }

                    .title {
                        //font-family: Arial, Helvetica, sans-serif;
                        font-family: 'Proxima-Regular';
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        color: white;
                        font-size: 12px;
                        width: 80%;
                        line-height: 14px;
                        text-align: center;
                        user-select: none;
                        position: absolute;
                        left: 0px;
                        right: 0px;
                        margin-left: auto;
                        margin-right: auto;
                        top: 0px;
                        height: calc((185px - 90px) / 2);
                        display:flex;
                        justify-content:center;
                        align-items:center;

                        @include breakpoint (mobile) {
                            height: calc((150px - 70px) / 2);
                        }

                        @include breakpoint (tablet) {
                            height: calc((170px - 80px) / 2);
                        }
                    }

                    .thumbImg {
                       // background-image: url(../assets/images/driver-introductions@2x.png);
                        position: absolute;
                        width: 100%;
                        height: 90px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        overflow: hidden;
                        cursor: pointer;
                        margin-top: auto;
                        margin-bottom: auto;
                        top: 0px;
                        bottom: 0px;

                        @include breakpoint (mobile) {
                            height: 70px;
                            width: 100%;
                            background-size: cover;
                           
                        }

                        @include breakpoint (tablet) {
                            height: 80px;
                            width: 100%;
                            background-size: cover;
                           
                        }
                    }

                    .btn {
                        border-radius: 20px;
                        width: 70px;
                        height: 25px;
                        position: absolute;
                        left: 0px;
                        right: 0px;
                        margin-left: auto;
                        margin-right: auto;
                        bottom: 10px;
                        font-family: 'Proxima-Regular';
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;

                        background: linear-gradient(-90deg, #5DB183 0%, #A7CC74 100%);
                        border: 1px solid rgba(0,0,0,0.5);
                        color: white;
                        font-size: 14px;
                        cursor: pointer;
                        display:flex;
                        justify-content:center;
                        align-items:center;
                       //transition: ease 0.3s;

                        &:hover {
                            background: #5DB183;
                            //transition: ease 0.3s;
                        }

                        @include breakpoint (mobile) {
                            width: 54px;
                            height: 22px;
                            font-size: 12px;
                            background: linear-gradient(-90deg, rgb(78, 141, 106) 0%, rgb(147, 170, 114) 100%);
                            bottom: 8px;
                        }
                    }


                    #thumb-img-0 {background-image: url(../assets/images/garage@2x.png);}
                    #thumb-img-1 {background-image: url(../assets/images/fanzone@2x.png);}
                    #thumb-img-2 {background-image: url(../assets/images/driver-introductions@2x.png);}
                    #thumb-img-3 {background-image: url(../assets/images/parade@2x.png);}
                    #thumb-img-4 {background-image: url(../assets/images/start-engines@2x.png);}
                    #thumb-img-5 {background-image: url(../assets/images/pit-road@2x.png);}
                    #thumb-img-6 {background-image: url(../assets/images/hot-pass@2x.png);}
                    #thumb-img-7 {background-image: url(../assets/images/victory-lane@2x.png);}


                }
            }
        }
    }

    .hero-logo {
        background-image: url(../assets/images/logo@2x.png);
        width: 321px;
        height: 155px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
        position: absolute;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        top: -102px;
        z-index: 999;
       opacity: 0;
       animation: 0.5s fadein 0.75s forwards;

        @include breakpoint (mobile) {
            background-image: url(../assets/images/mobile-logo@2x.png);
            top: -200px;
            width: 234px;
           // animation: 1.5s fadein 0.75s forwards;
        }

        @include breakpoint (tablet) {
            background-image: url(../assets/images/mobile-logo@2x.png);
            top: -120px;
            width: 234px;
        }

    }

    .hero-playall {
        width: 240px;
        height: 57px;
        position: absolute;
        border-radius: 40px;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        bottom: 100px;
        font-size: 22px;
        color: #009FDF;
        cursor: pointer;
        background-color: white;
        font-family: 'Proxima-Regular';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
       // opacity: 0;
      //  animation: 0.5s fadein 0.75s forwards;

        @include breakpoint (mobile) {
            bottom: unset;
            top: -30px;
            background: linear-gradient(-90deg, #5DB183 0%, #A7CC74 100%);
            border: unset;
            color: white;

            &::before {
                content: "Select a race below";
                color: white;
                position: absolute;
                top: -28px;
                left: 0px;
                right: 0px;
                margin-left: auto;
                margin-right: auto;
                font-size: 16px;
            }
        }
    }
}