


.menuicon {
    width: 25px;
    height: 20px;
    background-size: contain;
   // background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(../assets/images/menu-bar.svg);
    top: 30px;
    position: absolute;
    cursor: pointer;
    pointer-events: auto;

    @include breakpoint (mobile) {
       // display: none;
        top: 20px;
        right: 20px;
        width: 20px;
        height: 20px;
        
    }
}