
@import 'mixin';
@import 'reset';
@import 'fonts';

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(197, 197, 197);

    @include breakpoint (mobile) {
        height: unset;
    }

    @import 'background';
    @import 'nav';
    @import 'hero';
    @import 'sweeps';
    @import 'footer';

  
}