
@import 'mixin';
@import 'reset';


body {
    position: absolute;
    width: 100%;
    height: 100%;

    @include breakpoint (mobile) {
        height: unset;
    }

    .bg {
        position: absolute;
        width: 100%;
        height: 100%;

        .bgshade {
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(#005e97,0) 0%,rgba(110,44,99,1) 100%); 
            //opacity: 0.5;

            @include breakpoint (mobile) {
                background: linear-gradient(to bottom, rgba(#005e97,1) 0%,rgba(110,44,99,1) 100%); 
            }
        }

        .bgimg {
            background-image: url(../assets/images/bg-img.jpg);
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;

            @include breakpoint (mobile) {
                display: none;
             }
        }
    }

    nav {
        position: absolute;
        width: 100%;
        max-width: 940px;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        z-index: 99999;

        @include breakpoint (mobile) {
            height: 100%;
            pointer-events: none;
        }

        #dropdown {
            position: relative;
            top: 60px;
            left: -15px;
            visibility: hidden;
            transition: ease 0.5s;

            .mobile-dropdown-logo {
                visibility: hidden;
                position: absolute;
                height: 155px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: contain;
                left: 0px;
                right: 0px;
                margin-left: auto;
                margin-right: auto;

                @include breakpoint (mobile) {
                    visibility: visible;
                    background-image: url(../assets/images/mobile-logo@2x.png);
                    width: 234px;
                    pointer-events: auto;
                    
                }
            }

            @include breakpoint (mobile) {
                position: absolute;
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, rgba(#005e97,1) 0%,rgba(110,44,99,1) 50%); 
                top: 0px;
                left: 0px;
                z-index: 9999;
                pointer-events: none;
            }

            ul {
                list-style-type: none;

                @include breakpoint (mobile) {
                    position: absolute;
                    width: 100%;
                    height: 300px;
                    top: 200px;
                }
                
                li {
                    color: black;
                    font-family: Arial, Helvetica, sans-serif;
                    height: 55px;
                    width: 216px;
                    background-color: white;
                    position: relative;
                    padding-left: 15px;
                    padding-top: 20px;
                    box-sizing: border-box;
                    margin-bottom: 2px;
                    pointer-events: auto;

                    &:after {
                        content: "";
                        background-image: url(../assets/images/arrow-right-black.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        right: 10px;
                        
                        

                        @include breakpoint (mobile) {
                            background-image: url(../assets/images/arrow-right.svg);
                            top: 25px;
                            right: 20px;
                        }
                    }

                    &:hover {
                        background-color: rgba(rgb(215, 238, 252),1);
                    }

                    @include breakpoint (mobile) {
                        background-color: unset;
                        color: white;
                        width: 100%;
                        padding-left: 30px;
                        font-size: 24px;
                        height: 75px;
                        pointer-events: auto;
                        margin-top: unset;

                        &:first-child {
                            border-bottom: 3px solid rgba(0,0,0,0.1);
                           // margin-bottom: 20px;
                        }

                        &:hover {
                          //  background-color: rgba(rgb(215, 238, 252),1);
                          //  color: #005F97;

                            background-color: unset;
                            color: white;
                        }
                    }

                }
            }
        }

        .homesitelinkout {
            color: white;
            background-color: #005F97;
            width: 200px;
            height: 33px;
            position: absolute;
            border: unset;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            border-radius: 15px;
            top: 30px;
            right: 0px;

            @include breakpoint (mobile) {
                display: none;
            }
        }

      

        .menuicon {
            width: 25px;
            height: 20px;
            background-size: contain;
           // background-repeat: no-repeat;
            background-position: 50% 50%;
            background-image: url(../assets/images/menu-bar.svg);
            top: 30px;
            position: absolute;
            cursor: pointer;
            pointer-events: auto;

            @include breakpoint (mobile) {
               // display: none;
                top: 20px;
                right: 20px;
                width: 20px;
                height: 20px;
                
            }
        }
    
    }

   

    .hero {
        position: relative;
        left: 0px;
        right: 0px;
        top: 140px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 665px;
        max-width: 940px;

        @include breakpoint (mobile) {
           width: calc(100% - 30px);
           margin-top: 60px;
        }

        @include breakpoint (tablet) {
            width: calc(100% - 30px);
           // margin-top: 60px;
         }

        .hero-box {
            position: absolute;
            border: 3px solid #65F1DE;
            width: 100%;
            height: 530px;
            background-color: rgba(#6E2C63,0.75);
            border-radius: 6px;

            @include breakpoint (mobile) {
                background-color: unset;
                border: unset;
            }

            @include breakpoint (tablet) {
                background-color: unset;
                border: unset;
                width: 92%;
                left: 0px;
                right: 0px;
                margin-left: auto;
                margin-right: auto;
            }
            

            ul {
                list-style-type: none;
                display: flex;
                width: 100%;
                height: 430px;
                flex-wrap: wrap;
                position: absolute;
                justify-content: center;
                align-content: space-around;
                top: 60px;

                @include breakpoint (mobile) {
                    height: 620px;
                    width: 100%;
                }

               
                
                li {
                    box-sizing: border-box;

                    &:hover {
                       
                        .thumb {
                            border: 3px solid #65F1DE;
                            transition: ease 0.3s;
                        }
                    }

                    @include breakpoint (mobile) {
                        width: 50%;
                        position: relative;
                    }

                    @include breakpoint (tablet) {
                        width: 25%;
                        position: relative;
                    }


                    .thumb {
                        width: 180px;
                        height: 185px;
                        background-color: rgba( 0,0,0,0.5);
                        position: relative;
                        border-radius: 6px;
                        box-sizing: border-box;
                        margin-left: 15px;
                        margin-right: 15px;
                        pointer-events: none;

                        @include breakpoint (mobile) {
                            width: calc(100% - 6px);
                            height: 150px;
                            margin-left: auto;
                            margin-right: auto;
                            margin-top: 3px;
                            margin-bottom: 3px;
                         }

                         @include breakpoint (tablet) {
                            width: calc(100% - 6px);
                            height: 170px;
                            margin-left: auto;
                            margin-right: auto;
                            margin-top: 3px;
                            margin-bottom: 3px;
                         }

                        .title {
                            font-family: Arial, Helvetica, sans-serif;
                            color: white;
                            font-size: 12px;
                            width: 80%;
                            line-height: 14px;
                            text-align: center;
                            user-select: none;
                            position: absolute;
                            left: 0px;
                            right: 0px;
                            margin-left: auto;
                            margin-right: auto;
                            top: 15px;
                        }

                        .thumbImg {
                           // background-image: url(../assets/images/driver-introductions@2x.png);
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: 50% 50%;
                            overflow: hidden;
                            cursor: pointer;

                            @include breakpoint (mobile) {
                                height: 70px;
                                width: 100%;
                                background-size: cover;
                                margin-top: auto;
                                margin-bottom: auto;
                                top: 0px;
                                bottom: 0px;
                            }

                            @include breakpoint (tablet) {
                                height: 80px;
                                width: 100%;
                                background-size: cover;
                                margin-top: auto;
                                margin-bottom: auto;
                                top: 0px;
                                bottom: 0px;
                            }
                        }

                        .btn {
                            border-radius: 20px;
                            width: 70px;
                            height: 25px;
                            position: absolute;
                            left: 0px;
                            right: 0px;
                            margin-left: auto;
                            margin-right: auto;
                            bottom: 10px;

                            background: linear-gradient(-90deg, #5DB183 0%, #A7CC74 100%);
                            border: 1px solid rgba(0,0,0,0.5);
                            color: white;
                            font-size: 14px;
                            cursor: pointer;
                           //transition: ease 0.3s;

                            &:hover {
                                background: #5DB183;
                                //transition: ease 0.3s;
                            }

                            @include breakpoint (mobile) {
                                width: 54px;
                                height: 20px;
                                font-size: 12px;
                                background: linear-gradient(-90deg, rgb(78, 141, 106) 0%, rgb(147, 170, 114) 100%);
                            }
                        }


                        #thumb-img-0 {background-image: url(../assets/images/garage@2x.png);}
                        #thumb-img-1 {background-image: url(../assets/images/fanzone@2x.png);}
                        #thumb-img-2 {background-image: url(../assets/images/driver-introductions@2x.png);}
                        #thumb-img-3 {background-image: url(../assets/images/parade@2x.png);}
                        #thumb-img-4 {background-image: url(../assets/images/start-engines@2x.png);}
                        #thumb-img-5 {background-image: url(../assets/images/pit-road@2x.png);}
                        #thumb-img-6 {background-image: url(../assets/images/hot-pass@2x.png);}
                        #thumb-img-7 {background-image: url(../assets/images/victory-lane@2x.png);}


                    }
                }
            }
        }

        .hero-logo {
            background-image: url(../assets/images/logo@2x.png);
            width: 321px;
            height: 155px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50%;
            position: absolute;
            left: 0px;
            right: 0px;
            margin-left: auto;
            margin-right: auto;
            top: -102px;
            z-index: 999;

            @include breakpoint (mobile) {
                background-image: url(../assets/images/mobile-logo@2x.png);
                top: -200px;
                width: 234px;
            }

            @include breakpoint (tablet) {
                background-image: url(../assets/images/mobile-logo@2x.png);
                top: -120px;
                width: 234px;
            }

        }

        .hero-playall {
            width: 240px;
            height: 57px;
            position: absolute;
            border-radius: 40px;
            left: 0px;
            right: 0px;
            margin-left: auto;
            margin-right: auto;
            bottom: 100px;
            font-size: 22px;
            color: #009FDF;
            cursor: pointer;
            background-color: white;

            @include breakpoint (mobile) {
                bottom: unset;
                top: -30px;
                background: linear-gradient(-90deg, #5DB183 0%, #A7CC74 100%);
                border: unset;
                color: white;

                &::before {
                    content: "Select a race below";
                    color: white;
                    position: absolute;
                    top: -28px;
                    left: 0px;
                    right: 0px;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 16px;
                }
            }
        }
    }

    .sweeps {
        position: relative;
        max-width: 940px;
        width: 100%;
        background-image: url(../assets/images/bottomImg.png);
        background-size: cover;
        background-position: 100% 100%;
        height: 82px;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
        box-sizing: border-box;
        border-radius: 6px;
        cursor: pointer;

        @include breakpoint (mobile) {
            width: calc(100% - 30px);
            height: 170px;
            margin-top: 170px;
            margin-bottom: 50px;
        }
       // top: 800px;

       .sweeps-copy {
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            box-sizing: border-box;
            margin-left: 40px;
           // margin-top: 40px;
            height: 50px;
            position: absolute;
            top: 13px;
            user-select: none;

            .sweeps-header {
                font-size: 50px;
            }

            .sweeps-subheader {
                font-size: 24px;
                position: relative;
                bottom: 7px;
            }
            
       }

       .sweeps-btn {
           color: #005F97;
           width: 167px;
           height: 28px;
           border-radius: 15px;
           position: absolute;
           right: 50px;
           top: 27px;
           background-color: white;

            @include breakpoint (mobile) {
                top: unset;
                bottom: 15px;
                left: 0px;
                right: 0px;
                margin-left: auto;
                margin-right: auto;

               
            
            }
       }
    }


    footer {
       
        .footercopy {
            color: white;
            position: relative;
            width: 100%;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
            background-color: rgba(0,0,0,0);
            top: 50px;

            @include breakpoint (mobile) {
                color: rgb(255, 255, 255);
                top: unset;
                bottom: 20px;
                position: absolute;
                width: 100%;
                text-align: center;
                font-size: 12px;
                letter-spacing: 1px;
                //top: unset;
            }
        }

        .homesitelinkout  {
            display: none;

            @include breakpoint (mobile) {
                display: block;
                color: white;
                background-color: #005F97;
                width: 200px;
                height: 33px;
                position: absolute;
                border: unset;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                border-radius: 15px;
                left: 0px;
                right: 0px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        @include breakpoint (mobile) {
            margin-bottom: 140px;
            top: -25px;          
        }
    }
}